<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skuu.mapper.QqaiWeatherCityMapper">

    <select id="getByGPS" resultType="cn.skuu.entity.QqaiWeatherCity">
        SELECT *,
               (
                       6371 * acos(
                                   cos(RADIANS(#{gpsDto.lat})) * cos(RADIANS(lat)) *
                                   cos(RADIANS(lon) - radians(#{gpsDto.lon})) +
                                   sin(RADIANS(#{gpsDto.lat})) * sin(RADIANS(lat))
                       )
                   ) AS distance
        FROM qqai_weather_city
        ORDER BY distance ASC LIMIT 1;
    </select>
</mapper>
